require "rails_helper"

RSpec.describe "logout", type: :system do
  let!(:<%= user_var %>) { create(:<%= user_var %>) }

  it "works" do
    login_as <%= user_var %>

    visit "/"

    find("#user-menu").click # this will depend on where logout button is
    click_on "Logout"

    expect(current_path).to eq("/logout")
  end
end
