<div class="rounded-md bg-yellow-50 p-4">
  <div class="flex">
    <div class="flex-shrink-0">
      <%= icon('exclamation', class: "h-5 w-5 text-yellow-400") %>
    </div>
    <div class="ml-3">
      <h3 class="text-sm font-medium text-yellow-800">
        <%= title %>: <span class="mt-2 text-sm font-normal text-yellow-800"><%= info %></span>
      </h3>
    </div>
  </div>
</div>
