<div class="bg-green-50 py-6 px-3">
  <div class="max-w-2xl mx-auto rounded-md">
    <div class="mb-4 rounded-md">
      <img class="rounded-md object-none lg:object-cover max-h-24 w-full" src="<%= image %>" alt="banner">
    </div>
    <div class="bg-white border-t-8 border-green-500 px-10 py-6 rounded-md shadow-md">
      <div class="sm:col-span-6 text-gray-800 text-sm">
        <h1 class="text-2xl text-gray-800 font-semibold"><%= title %></h1>
        <%= info %>
      </div>
      <hr class="mt-8" />
      <div class="mt-8">
        <%= body %>
      </div>
    </div>
  </div>
</div>
