<footer class="bg-white">
  <div class="py-2 md:flex md:items-baseline md:justify-end md:px-5">
    <p class="md:ml-5 text-center text-base text-gray-400">
      Created by Oxford Code Lab
    </p>
  </div>
</footer>
