<div class="rounded-md bg-blue-100 p-4">
  <div class="flex">
    <div class="flex-shrink-0">
      <%= icon('info-circle', class: "h-5 w-5 text-blue-400") %>
    </div>
    <div class="ml-3">
      <h3 class="text-sm font-medium text-blue-800">
        <%= @title %>: <span class="mt-2 text-sm font-normal text-blue-800"><%= @info %></span>
      </h3>
    </div>
  </div>
</div>
