<h1 class="font-bold text-2xl py-4">Personal Details</h1>

<%%= tailwind_form_with(model: @<%= singular_name %>, url: <%= singular_route_name%>_path(@<%= singular_name %>), local: true) do |form| %>
  <%%= form.section do %>
    <%%= form.text_field :first_name, width: :third, required_asterix: true %>
    <%%= form.text_field :last_name, width: :third, required_asterix: true %>
  <%% end %>
  <%%= form.button_section do %>
    <%%= form.submit "Save" %>
  <%% end %>
<%% end %>
