<%%= header title: "<%= plural_name.humanize %>" do |head| %>
  <%% head.nav_tabs_section do %>
    <%%= nav_tabs do |nav| %>
      <%% nav.link "Inbox", <%= index_helper %>_path(:inbox), partial_match: true %>
      <%% nav.link "All", <%= index_helper %>_path(:all), partial_match: true %>
    <%% end %>
  <%% end %>
<%% end %>
