<%% content_for :breadcrumbs do %>
  <%%= breadcrumbs do |list| %>
    <%% list.link "<%= @section.humanize %>", <%= index_path(@namespace, @section) %> %>
    <%% list.link "<%= singular_name.humanize %>", <%= index_path(@namespace, singular_name) %> %>
  <%% end %>
<%% end %>
<%% content_for :page_head do %>
  <%%= render partial: "<%= @index_head_path %>" %>
<%% end %>

SEARCH
